.app {
  display: flex;
  background-image: url('img/pokemon-background.jpg');
  height: 100vh;
  width: 99.1vw;
  background-size: cover;
  margin-top: -22px;
  margin-left: -8px;
  background-attachment: fixed;
  background-position: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

.table {
  background-image: url('img/pokemon-table.png');
  height: 81vh;
  width: 45vw;
  background-size: cover;
  background-position: center;
}

.library-btn {
  position: absolute;
  top: 11%;
  left: 2.3%;
}

.search-field {
  position: absolute;
  top: 11%;
  left: 13%;
  width: 19em;
}

.start-btn {
  position: absolute;
  top: 2%;
  left: 2%;
}